<!-- Loop over each object in the projects array -->
<link rel="stylesheet" href="http://localhost:3001/">
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
     
      <div class="blogposts">
      <a class="commenthead" href="/project/{{project.id}}">{{project.name}}<p class="text-right">Created by {{project.user.name}} on {{format_date project.date_created}}</p></a>
       <p>
      {{project.description}}
    </p>
     </div>
    </h2>
 
    
      
    
  </div>
  <div class="col-md-7">
   
  </div>
</div>
{{/each}}
