
<div class="prjdiv">
  <h2 class="projectview id="createdProject" data-projectId = {{id}}>{{name}} <p class="text-right">Created by {{user.name}} on {{format_date date_created}}</p></h2>
  <p class="projdesc">{{description}}</p>
  
</div> 
{{#if logged_in}}
   <form id="comment-form" class="form new-project-form" >
      <div class="form-group">
        <input type="hidden" name="post-id" value="{{comment.id}}" />
       <textarea name="comment-body" id= "comment-body"class="form-input"></textarea>
      </div>
      </form>
 <button class="btn btn-primary" id="commentBtn">Add comment</button>
</div>
{{else}}
<p class="text-center">Please Log In to add a comment</p>
{{/if}}
<script src="/js/comments.js"></script>
<div class="comments">
{{#each comments as |comment|}}
  <div class='row'>
    <div class='card'>
      <div class='card-body'>
        <p class='card-text'>{{comment.body}}</p>
      </div>
      <div class='card-footer text-muted'>
        Posted by
        {{user.username}}
        on
        {{format_date createdAt}}
      </div>
    </div>
  </div>
{{/each}}
</div>
