
<div class="prjdiv">
  <h2 class="projectview id="createdProject" data-projectId = {{id}}>{{name}} <p class="text-right">Created by {{user.name}} on {{format_date date_created}}</p></h2>
  <p class="projdesc">{{description}}</p>
  
</div> 
{{#if logged_in}}
   <form id="comment-form" class="form new-project-form" >
      <div class="form-group">
        <input type="hidden" name="project-id" value="{{comment.id}}" />
       <textarea name="comment-body" id= "comment-body"class="form-input"></textarea>
      </div>
      </form>
 <button class="btn btn-primary" id="commentBtn">Add comment</button>
</div>
{{else}}
<p class="text-center">Please Log In to add a comment</p>
{{/if}}

<div class="comments">
{{#each Comments as |Comment|}}
  <div class='row test' id="commentCard">
    <div class='card testtwo'>
      <div class='card-body'>
        <p class='card-text'>{{Comment.body}}</p>
      </div>
      <div class='card-footer text-muted'>
        Posted by
        {{user.name}}
        on
        {{format_date createdAt}}
        
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger deleteBtn" comment-id="{{id}}">DELETE</button>
      </div>
    </div>
  </div>
</div>
{{/each}}
<script src="/js/comments.js"></script>